<h3 mat-dialog-title>Login with E-Mail</h3>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
  Please enter your email and password.
    <p>
      <mat-form-field>
        <mat-label>email</mat-label>
        <input id="email" type="text" matInput placeholder="email address" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input id="password" type="password" matInput formControlName="password">
      </mat-form-field>
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCancel()">
      <span style="color: white">Cancel</span>
    </button>
    <button mat-raised-button color="accent" type="submit">
      <span style="color: white">Login</span>
    </button>
  </div>
</form>
