<h3>Cart</h3>

<p>
  <a mat-raised-button routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input id="name" type="text" matInput placeholder="Name" formControlName="name">
      <mat-hint>Your Name</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input id="address" type="text" matInput placeholder="Address" formControlName="address">
      <mat-hint>Your Address</mat-hint>
    </mat-form-field>
  </p>
  <button mat-raised-button type="submit">Purchase</button>
</form>